<meta http-equiv='refresh' content="0;URL='<%- url_for(site.posts.sort('date').toArray().slice(-1)[0].path) %>'" />
<h3>To the jokes kinda...</h3>
<b>If auto-redirect is not working, click <a href="<%- url_for(site.posts.sort('date').toArray().slice(-1)[0].path) %>">here</a>.</b>