<nav>
<%= config.subtitle %>
|
<a href="<%= url_for('/archives') %>" target="_blank">Archive</a>
|
<a href="<%= url_for('/rss.xml') %>" target="_blank">RSS</a>
</nav>
<b>NOTE: Currently missing a lot of comic from the past as I am not at home in Hong Kong; will add them once I am home.</b>